extends base

block title
	#{fix_pagename(page.name)}

block h2
	#{fix_pagename(page.name)}

block options
	span
		include includes/login_greeting

		|   |   

		a(href="/_history/#{page.name}") History

		|   |    

		if user.active
			a(href="/_edit/#{page.name}?edit=#{v}") Edit
		else
			a(href="#{user.login}") Login

block content
	#{edit.data}
	br
	br
	footer#history
		button.punch#getHistory get history

block append scripts
	script
		$("#getHistory").click(function(){
			window.getHistory("#{page.name}");
		});